# Copyright The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_BL70XL
	bool
	select SOC_FAMILY_BFLB
	help
	  Enable support for BouffaloLab BL70XL MCU series

config SOC_SERIES
	default "bl70xl" if SOC_SERIES_BL70XL

config SOC_BL70XL
	bool
	select SOC_SERIES_BL70XL

config SOC
	default "bl70xl" if SOC_BL70XL
