# Copyright 2024 MASSDRIVER EI

menuconfig WIFI_BFLB
	bool "Bouffalolab SoC WiFi support"
	default y
	depends on DT_HAS_BFLB_WIFI_ENABLED
	select NET_L2_WIFI_MGMT
	select WIFI_USE_NATIVE_NETWORKING
	help
	  Enable Bouffalolab SoC WiFi support

if WIFI_BFLB

config NET_TCP_WORKQ_STACK_SIZE
	default 2048

config NET_RX_STACK_SIZE
	default 2048

config NET_MGMT_EVENT_STACK_SIZE
	default 2048

endif # WIFI_BFLB
