# Copyright (c) 2024 MASSDRIVER EI
# SPDX-License-Identifier: Apache-2.0

config DAC_BFLB
	bool "Bouffalolab DAC driver"
	default y
	depends on DT_HAS_BFLB_DAC_ENABLED
	help
	  Enable the Bouffalolab DAC driver.
