# Copyright (c) 2026 MASSDRIVER EI (massdriver.space)
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_BL616CL
	bool
	select SOC_FAMILY_BFLB
	help
	  Enable support for BouffaloLab BL616CL MCU series

config SOC_SERIES
	default "bl616cl" if SOC_SERIES_BL616CL

config SOC_BL616CL4855
	bool
	select SOC_SERIES_BL616CL

config SOC
	default "bl616cl4855" if SOC_BL616CL4855
