# Copyright (c) 2024-2025 MASSDRIVER EI (massdriver.space)
# SPDX-License-Identifier: Apache-2.0

config EFUSE_BFLB
	bool "Bouffalolab EFUSEs driver"
	default y
	depends on DT_HAS_BFLB_EFUSE_ENABLED
	help
	  Enable accessing internal Efuses via EEPROM API for Bouffalolab platforms.
