# Copyright (c) 2025 tinyVision.ai
# SPDX-License-Identifier: Apache-2.0

if BOARD_PICO2_ICE

source "boards/common/usb/Kconfig.cdc_acm_serial.defconfig"

config USB_SELF_POWERED
	default n

endif # BOARD_PICO2_ICE
